{% extends "email/base_vhub_email.html" %}

{% block content %}
<p style="margin:0 0 12px 0;">Hi {{ user_name or "there" }},</p>
<p style="margin:0 0 12px 0;">
  Welcome to VolunteerHub! Your account is ready. You can sign in anytime at
  <a href="https://volunteerhub.apps.jbridgewater.com" style="color:#38bdf8;">volunteerhub.apps.jbridgewater.com</a>.
</p>
<p style="margin:0 0 12px 0;">If you did not create this account, you can safely ignore this email.</p>
<p style="margin:0;">See you inside!</p>
{% endblock %}
